<div class="container-fluid">
<h1><%= @song.title %></h1>
 
 <p>
   Author: <%= @song.author %>
 </p>
 
 <p>
   <%= @song.url  %>
 </p>
<p> 
  <% @reviews.each do |review| %>
  <%=review.userreview %>
  <%=review.rating_field %>
  <% end %>
</p>
<% if current_user && !@song.already_reviewed?(current_user) %>
<div class="container-fluid">
 <form method="post" action="/review">
   <div class="form-group">
     <label for="exampleInputComment1">Review This Song!</label>
     <input type="text" class="form-control" id="exampleInputComment1" name="comment"  placeholder="Comment">
     <input type="hidden" name="id" value="<%= @song.id %>">
     <select name="rating">
     <option>rate</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
     </select>
   </div>
   <button class="btn btn-primary" type="submit" >Submit</button>
 <% end %>
  </form>
 <% if current_user && @song.already_reviewed?(current_user) %>
 <form method ="get" action='/delete'>
  <button class="btn btn-primary" type="submit">Delete</button>
   <% end %>
   </form>
</div>
 
 <hr/>
 <a class="btn btn-primary" href="/songs">Back to All Songs</a>
</div>